@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap');
* {
    box-sizing: inherit;
}

.fqzYxx {
    padding-bottom: 0px;
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

body {
    background:  #fff;
    font-family:  "ProximaNovaCond",sans-serif;
    -webkit-tap-highlight-color:    rgba(0,0,0,0);
    word-wrap:    break-word;
    overflow-x:    hidden;
    height:   100%;
    font-size:  16px;
    color: #222;
    cursor: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    height:   100%;
    box-sizing:  border-box;
    font-size: 16px;
}

.jvDRXY {
    background-color: rgb(34, 34, 34);
    padding-top: 40px;
}

*,:after,:before {
    box-sizing: inherit;
}

.hmGSzK {
    padding-top: 24px;
    padding-bottom: 40px;
}

.YJoQH {
    padding-bottom: 40px;
}

.fLejCw {
    padding-bottom: 38px;
}

.edIEQY {
    font-size: 14px;
    padding-bottom: 52px;
    text-align: center;
}

ul {
    list-style-type:     none;
    margin:    0;
    padding:   0;
    font-family:  inherit;
    font-size:  .938rem;
    line-height:  1.6;
    list-style-position:  outside;
    margin-bottom:  1.25rem;
    margin-left: 1.1rem;
}

.eKga-da {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
}

.jokPDg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0px auto;
    max-width: 100%;
}

@media screen and (min-width: 53.125em){
  .jokPDg {
    max-width: 500px;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

p {
    text-rendering:   optimizeLegibility;
    margin:   0;
    padding:   0;
    font-family:  inherit;
    font-size:  .938rem;
    font-weight:  normal;
    margin-bottom:  1.25rem;
    line-height: 1.6;
}

.gLGaEr {
    color: rgb(204, 204, 204);
    font-size: 14px;
    margin: 0px auto;
    text-align: center;
}

span {
    text-rendering: optimizeLegibility;
}

.bPwEYd {
    color: rgb(204, 204, 204);
}

li {
    margin: 0;
    padding: 0;
}

ul li  {
    margin: 0;
}

.eKga-da li  {
    padding: 0px 3.5px;
}

.jokPDg li  {
    color: rgb(102, 102, 102);
    display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-around;
    line-height: 32px;
    padding: 0px 24px;
}

@media screen and (min-width: 53.125em){
  .jokPDg li  {
    width: initial;
    padding: 0px 14px;
  }
}

.fLejCw li  {
    padding: 0px 14px;
}

a {
    color: #008CBA;
    line-height: inherit;
    text-decoration: none;
}

.edIEQY a  {
    color: rgb(204, 204, 204);
}

a:hover {
    cursor:  pointer;
    color: #0078a0;
}

.edIEQY a:hover  {
    color: rgb(204, 204, 204);
}

.dPMosf {
    text-decoration: none;
}

.jokPDg li a  {
    color: rgb(204, 204, 204);
    font-size: 16px;
    white-space: nowrap;
}

.jokPDg li a:hover  {
    color: rgb(204, 204, 204);
}

.bNqQHi {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.bPwEYd .sc-73s2vw-0  {
    color: rgb(204, 204, 204);
}

button {
    display: inline-block;
    font-family:  "ProximaNovaCond", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
    color: #000;
    -webkit-transition: none;
    transition: none;
}

.hUgisK {
    width: 34px;
    height: 34px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-color: rgb(24, 119, 242);
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

button:active,button:hover {
    color: #000;
    outline: none;
}

.hUgisK:hover,.hUgisK:active {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(11, 95, 204);
}

.Uumbx {
    width: 34px;
    height: 34px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-color: rgb(29, 161, 242);
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

.Uumbx:hover,.Uumbx:active {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(12, 133, 208);
}

.gQGLFo {
    width: 34px;
    height: 34px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-color: rgb(195, 42, 163);
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

.gQGLFo:hover,.gQGLFo:active {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(153, 33, 128);
}

.doKTzV {
    width: 34px;
    height: 34px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-color: rgb(255, 0, 0);
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

.doKTzV:hover,.doKTzV:active {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(204, 0, 0);
}

.kSWPNQ {
    width: 34px;
    height: 34px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 34px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-color: rgb(125, 125, 125);
    transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

.kSWPNQ:hover,.kSWPNQ:active {
    color: rgb(255, 255, 255);
    border-color: transparent;
    background-color: rgb(99, 99, 99);
}

.iYuBVU {
    color: rgb(204, 204, 204);
}

.kyiNRO {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    pointer-events: none;
}

.keEGDF {
    fill: currentcolor;
    display: flex;
}

.hUgisK .sc-iyvn34-0  {
    margin-bottom: 2px;
}

.Uumbx .sc-iyvn34-0  {
    margin-bottom: 2px;
}

.gQGLFo .sc-iyvn34-0  {
    margin-bottom: 2px;
}

.doKTzV .sc-iyvn34-0  {
    margin-bottom: 2px;
}

.kSWPNQ .sc-iyvn34-0  {
    margin-bottom: 2px;
}


